*{
    padding:0;
    margin:0;
    font-family:sans-serif, "Arial", "Segoe UI";
    box-sizing:border-box;
}

p{
    font-size:0.9em;
    color:black;
}

body{
    width:100vw;
    margin:0 auto;
}

textarea{
    resize: none;
}

.warning{
    margin-top: 1em;
    color: red;
  }

.success{
    margin-top: 1em;
    color: green;
  }
  
/*Main page Start*/
.head{
    width:100%;
    background-color: #329CE5;
    height:55px;
    display:grid;
}

nav{
    display:flex;
    align-items:center;
    justify-content: space-around;
}

nav ul{
    display:flex;
}

nav ul li{
    list-style-type: none;
    margin: 0 20px;
}

nav ul li a{
    padding:1px;
    text-decoration: none;
    color: white;
}

nav ul li a h3{
    text-decoration: none;
    color: white;
}

.userInfo{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: 2em;
    text-decoration: none;
}

.userInfo a{
    color: white;
    text-decoration: none;
}

.userInfo h2{
    color: white;
    text-decoration: none;
}

.userInfo p{
    padding: 2px;
    color: white;
    text-decoration: none;
}

nav ul li textarea{
    resize: none;
    height:32px;
    width:250px;
    color: lightslategrey;
    padding-top:9px;
    padding-left: 10px; 
    border:none;
}

.product{
    padding-top:20px;
    display: flex;
    align-items: center;
    align-content: space-between;
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

.product h2, h3{
    padding-bottom:5px;
}

.product p{
    padding-bottom:20px;
}

.sub input[type="submit"]{
    Background-color: #329CE5;
    padding: 6px 10px;
    border-style: none;
    color: white;
    font-weight:700;
    width:150px;
    display: flex;
    justify-content: center;
}

.picture{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
}

.pictures{
    padding:10px;
}
/*Main page End*/

/*Login page Start*/
.center{
  padding-top:80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formBox{
  width: 430px;
  height: auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.form div{
  padding-top: 10px;
  padding-bottom: 10px;
  width: 400px;
}

.form a{
  padding-left: 15px;
  color: black;
  text-decoration: none;
}

.right{
  display: flex;
  justify-content: space-between;
}

.right div{
  width: auto;
}

.contentText{
  padding-top:10px;
  display: flex;
  margin-right: auto;
  margin-left: 1em;
  font-size: .8em;
}

.contentText h1{
  margin-bottom: .5em;
}

input:active{
  background: none;
}

.sub input[type=submit]{
    height:35px;
    background-color: #329CE5;
    padding: 6px 10px;
    border-style: none;
    color: white;
    font-weight:700;
    width:140px;
}

input[type=password], input[type=text]{
  font-size: 1.2em;
  padding: 3px;
  border: 1px solid black;
  width: 100%;
  background: white;
}

.log input[type=submit]{
    height: 35px;
    background-color: #329CE5;
    padding: 6px 10px;
    border-style: none;
    color: white;
    font-weight:700;
    width:110px;
}

.mainTitle{
    color:Black;
    margin: 50px 0 0 0;
}

article{
    display:grid;
    grid-template-rows: 130px;
    width:80%;
    margin-left:180px;
}

.productBox{
    padding-top:20px;
    display: flex;
    align-items: center;
    align-content: space-between;   
    max-width: 1024px;
    margin: 10px auto;
    background-color:gainsboro;
}

.productBox h2{
    padding-left:20px;
    padding-right:180px;
    padding-bottom:5px;
}

.productBox b{
    padding-left:20px;
    padding-bottom:5px;
}

.productBox h3{
    padding-left:230px;
    padding-bottom:5px;
}

.productBox p{
    padding-bottom:20px;
}

.productBox img{
    padding:20px;
    margin-bottom: 20px;
}

.productBox input{
    width:4%;
    margin-left:2px;
}

.total{
    display:flex;
    justify-content: flex-end;
    padding-left:1000px;
    padding-right: 320px;
    margin:40px 0 0 0;
}

.UandC{
    display:grid;
    grid-template-columns: 140px 140px;
    padding-left:540px;
    margin:30px;
}

.UandC input[type=submit]{
    height: 35px;
    background-color: #329CE5;
    padding: 6px 10px;
    border-style: none;
    color: white;
    font-weight:700;
    width:120px;
}

.orderBox{
    padding-top:20px;
    display: flex;
    align-items: center;
    align-content: space-between;
    max-width: 100%;
    margin: 10px auto;
    background-color:gainsboro;
}

.orderBox h2{
    padding-left:20px;
    padding-right:80px;
    padding-bottom:15px;
}

.orderBox h3{
    padding-left:1000px;
    padding-bottom:15px;
}

.orderBox a{
    padding-bottom:20px;
    margin-left: 210px;
    text-decoration: none;
    color:black;
}


.more{
    display:flex;
    justify-content: flex-end;
    padding-left:10px;
    padding-right: 335px;
    margin:40px 0 0 0;
}

.more a{
    text-decoration: none;
    color: black;
}

/* Register page start */

.register {
    display: flex;
    justify-content: center;
}

.registerForm {
    width: 430px;
    height: auto;
    border: 1px solid black;
    margin: 110px;
}

.reg {
    height: 35px;
    background-color: #329CE5;
    padding: 6px 10px;
    border-style: none;
    color: white;
    font-weight: 700;
    width: 110px;
}

.registerForm div{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 400px;
}

.registerForm h1 {
    padding-top:10px;
    display: flex;
    margin-right: auto;
    margin-left: 0.5em;
    font-size: 1.5em;
    padding-bottom: 0.5em;
}

.log a {
    text-decoration: none;
    margin-left: 1em;
}

/* Register page end */

/* Errors Start */

.bigBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right:10px;
    padding-top:5px;
  }

.bigBox a{
    text-decoration: none;
    padding-right:10px;
    padding-top:5px;
}

.bigBox h3{
    text-decoration: none;
    background-color: #329CE5;
    color:white;
    padding-right:10px;
    padding-top:5px;
}

/* Errors end */

/* Product page start */

main{
    display: flex;
    align-items: center;
    flex-direction: column;
}

article{
    display: grid;
    grid-template-columns: 232px 232px 232px 232px;
}

.article_product{
    padding:10px;
    margin: 20px 10px 0px 0px;
    border: 1px solid black 
}

.article_product:last-child{
    grid-column: 4/5;
}

.article_product:hover{
    background-color: #bdc3c7;
    cursor:pointer;
}

/* Product page end */

/* Order picker page start*/

.orderPickerTable {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 90px;
}

.orderPickerGreetings {
    margin-bottom: 70px;

}

.orderPickerTable p:nth-of-type(1) {
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}

/* Order picker page end */